* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
p{
  font-size: 13px;
  font-weight: 500;

}

.col1 , .col2  , .col4  {
  color: white;
}


.row {
  display: grid;
  gap: 15px;
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.col__name{
  display: flex;
  align-items: center;
}
.col__name-text{
  margin-left: 15px;
}

.col__name img{
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.col {
  padding: 16px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.15);
}

.col h2{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin: 20px auto;

}

.col1 {
  grid-area: one;
  background-color: hsl(263, 55%, 52%);
}

.col1{
  background-image: url(../img/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 10%  ;
}
.col2 {
  grid-area: two;
  background-color: hsl(224, 10%, 45%);
}

.col3 {
  grid-area: three;
  background-color: hsl(214, 17%, 92%);
}

.col4 {
  grid-area: four;
  background-color: hsl(217, 19%, 35%);

}
.col5 {
  grid-area: five;
  background-color: hsl(214, 17%, 92%);
  overflow: 3;
}


@media screen and (min-width: 33em) {
  .row {
      grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
  }
}

@media screen and (min-width: 38em) {
  .row {
      grid-template-areas:
      "one one"
      "two five"
      "three five"
      "four four";
  }
}

@media screen and (min-width: 54em) {
  .row {
      grid-template-areas:
      "one one two"
      "five five five"
      "threefour four";
  }
}

@media screen and (min-width: 75em) {
  .row {
      grid-template-areas:
      "one one two five"
      "three four four five ";
  }
}